#portal-searchbox label {
    font-size: 11px !important;
    margin-left: 0.5em !important;
}
#searchbox_currentfolder_only {
    margin-top: 0;
    position: relative;
    top: 3px;
}
#livesearchLegend {
  display: none;
}
.livesearchContainer {
  border: none !important;
}
#LSResult {
  width: 282px;
  margin-right: 67px;
  z-index: 1000;
  top: 51px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
#LSResult .LSRow {
  margin: 0;
  padding: 0;
}
#LSResult .LSRow a {
  border: none !important;
  width:100%;
  margin: 0 !important;
  padding-left: 10px !important;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  background-image: none;
}
#LSResult fieldset {
  margin: 0;
  padding: 0;
  border-top: none;
}
.LSBox input.searchButton {
  border: 0;
  height: 25px;
}
#LSResult .LSDescr {
  padding: 20px 10px;
}
.advancedsearchlink.advanced-search {
    padding-left: 20px !important;
}
/*-------------------------------------------------- */
#groups_search .listing {
  font-size: 10px;
}
#listing-table {
    width: 100%;
}
#portal-searchbox {
    margin: -25px 10px;
}

#portal-personaltools{
    margin-top:0px;
    top: -2px;
}

#aside {
    width: 284px;
}

dl.portlet dt, div.portletAssignments div.portletHeader {
    background: url("../design/title.png") no-repeat scroll 0 0 transparent;
Result .LSRow a

    font-weight: normal;
    height: 65px;
    line-height: 45px;
    margin: 0;
    padding-left: 5px;
    position: relative;
    right: -4px;
    width: 295px;
}

#content {
    width: 630px;
}

#edit-bar{
    text-align: justify;
    width: 664px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#edit-bar ul,
#edit-bar dl,
#contentActionMenus{
	margin:0px;
}

input[name="form.button.Search"], input[value="Suche"]{
    background: url("../design/search-submit.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: transparent;
    height: 24px;
    margin-left: 6px;
    margin-right: 10px;
    width: 24px;
}
input.searchButton:hover{
	cursor:pointer;
}

#searchGadget{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #555555;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 3px;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
	width: 23em;
}

dl dd.portletItem {
    margin-top: -35px;
    padding: 0;
}
#content .documentDescription, #content #description {
    margin-bottom: 1em;
}
#content div.newsImageContainer p.discreet {
    background-color: rgba(40, 40, 40, 1);
    top: -5px;
    width: 189px;
}
.configlets li {
  list-style-image: none !important;
  margin-left: 0 !important;
}
.enableUnloadProtection fieldset {
  padding: 15px;
}
.navTreeLevel1,
.navTreeLevel2,
.navTreeLevel3 {
  margin: 0;
}
.navTreeLevel1 li {
  padding-left: 0 !important;
}
.navTreeLevel1 {
  margin-top: 0; 
}
dd.portletItem p img {
  display: block;
  position: relative;
  top: 30px;
  width: auto;
  clear: left;
  margin: 0 auto 4em auto;
  background: yellow;
}
